<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.klipspringercui.sgbusgo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".ProximityIntentService"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ETAActivity"
            android:label="@string/title_activity_eta"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BusStopSelectionActivity" />
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search_bus_stop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.klipspringercui.sgbusgo.BusStopSelectionActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FareCalculatorActivity"
            android:label="@string/title_activity_fare_calculator"
            android:parentActivityName=".BaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.klipspringercui.sgbusgo.BaseActivity" />
        </activity>
        <activity
            android:name=".AlightingAlarmActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BusServiceSelectionActivity" />
        <activity
            android:name=".MyProfileActivity"
            android:label="@string/title_activity_my_profile"
            android:parentActivityName=".BaseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.klipspringercui.sgbusgo.BaseActivity" />
        </activity>
        <activity
            android:name=".AddFrequentTripActivity"
            android:label="@string/title_activity_add_frequent_trip"
            android:parentActivityName=".BaseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.klipspringercui.sgbusgo.BaseActivity" />
        </activity>

        <receiver
            android:name=".ProximityReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.klipspringercui.sgbusgo.ACTION_PROXIMITY_ALERT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".CurrentTripActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_current_trip"
            android:theme="@style/FullscreenTheme">

        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAAtPkVPCpI8Wpy-656eOc6mNAozejLOFw"/>

    </application>

</manifest>